@using Vanguard.ViewModels.Account
@model ForgotPasswordVM

@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/forget-password.css">
}

<main>




    <!-- =============== LOGIN SECTION - Start =============== -->
    <section class="forget-password">


        <form method="post" class="forget-password-form">
            <h1 class="forget-password-title">Forgot Password</h1>

            <div class="forget-password-content">
                <div class="forget-password-box">
                    <i class="fa-regular fa-envelope forget-password-icon"></i>

                    <div class="forget-password-box-input">
                        <input asp-for="Email" type="email" required class="forget-password-input" id="forget-password-email" placeholder=" ">
                        <label for="forget-password-email" class="forget-password-label">Email</label>
                    </div>
                </div>
                <span asp-validation-for="Email" style="color:red"></span>
            </div>


            <button type="submit" class="forget-password-button">Login</button>

            <p class="forget-password-register">
                Have an account already? <a asp-action="Login">Login</a>
            </p>
        </form>

    </section>
    <!-- =============== LOGIN SECTION - End =============== -->






</main>

@section script {
    <script src="~/cilent/assets/js/forget-password.js"></script>
}
