@model ResetPasswordVM
@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/login.css">
}

<main>




    <!-- =============== LOGIN SECTION - Start =============== -->
    <section class="login">


        <form method="post" class="login-form">
            <h1 class="login-title">Reset Password</h1>

            <div class="login-content">

           
                <div class="login-box">
                    <i class="fa-solid fa-lock login-icon"></i>
                    <div class="login-box-input">
                        <input asp-for="Password" type="password" required class="login-input"
                               id="login-confirm-password" placeholder=" ">
                        <label for="login-confirm-password" class="login-label">
                            Password
                        </label>
                        <i class="fa-regular fa-eye login-eye" id="login-eye"></i>
                    </div>
                </div>
                <span asp-validation-for="Password"></span>


                <div class="login-box">
                    <i class="fa-solid fa-lock login-icon"></i>
                    <div class="login-box-input">
                        <input asp-for="ConfirmPassword" type="password" required class="login-input"
                               id="login-confirm-password" placeholder=" ">
                        <label for="login-confirm-password" class="login-label">
                            Confirm Password
                        </label>
                        <i class="fa-regular fa-eye login-eye" id="login-eye"></i>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword"></span>

            </div>

            <div asp-validation-summary="ModelOnly" style="margin: 0 0 20px;color:red"></div>
            <button type="submit" class="login-button">Login</button>

        </form>

    </section>
    <!-- =============== LOGIN SECTION - End =============== -->






</main>

@section script {
    <script src="~/cilent/assets/js/login.js"></script>
}