@model RegisterVM

@{
    Layout = null;
    string Email = ViewData["Email"]!.ToString()!;
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Admin Dashboard</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/admin/images/favicon.png">
    <link href="~/admin/css/style.css" rel="stylesheet">


    <style>
        .title{
            font-weight:700;
            font-size:24px;
        }



        .profile-img {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;
        }

        .image {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #fff;
            overflow: hidden;
            padding: 4px;
            cursor: pointer;
        }

        .photo {
            position: absolute;
            bottom: -150%;
            left: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: bottom 0.9s ease;
        }

        .image:hover .photo {
            bottom: 0;
        }


        .image .photo img {
            width: 50px;
            height: 50px;
            border-radius: 0%;
        }


        .img-file input[type='file'] {
            display: none;
        }

        .img-file label {
            /* background: #a9539b; */
            color:#fff;
            font-size: 12px;
            cursor: pointer;
            transition: all 0.5s ease;
        }


            .img-file label:active {
                background-color: #9a0101;
            }

        input {
            font-size: 15px;
        }

        .image img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: top center;
        }

        .img-file {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        span,
        .validations {
            margin-top: 2%;
            font-size: 12px;
            color: #d90000;
        }
    </style>

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                
                                    <h4 class="text-center mb-4 title text-primary">Create an Account!</h4>

                                    <form method="post" enctype="multipart/form-data">
                                      @*   <input type="hidden" hidden asp-for="RoleId" value="@ViewData["accCode"]?.ToString()" />
                                        <input type="hidden"  asp-for="RoleId" value="@ViewData["accCode"]?.ToString()" /> *@

                                        <div class="profile-img">

                                            <div class="image">
                                                <img src="/cilent/assets/images/settings/user-profil.png" alt="">
                                                <div class="photo">
                                                    <img src="/cilent/assets/icons/photo.svg" alt="">
                                                </div>
                                            </div>

                                            <div class="img-file">
                                                <label class="btn btn-info" id="label" for="image-file">Upload Image</label>
                                                <input asp-for="ImageFile" id="image-file" type="file">
                                            </div>

                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <a style="margin-left:50px;">@Email</a>
                                            <input asp-for=Email type="hidden" value="@Email" hidden>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-lg-6">
                                                <label class="mb-1"><strong>Name</strong></label>
                                                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>

                                            <div class="col-lg-6">
                                                <label class="mb-1"><strong>Surname</strong></label>
                                                <input asp-for="Surname" type="text" class="form-control" placeholder="Surname">
                                                <span asp-validation-for="Surname" class="text-danger"></span>
                                            </div>
                                        </div>

                                @*         <div class="form-group mb-3">
                                            <label class="mb-1"><strong>Username</strong></label>
                                            <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
 *@
                                      

                                        <div class="form-group mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input asp-for=Password type="password" class="form-control" value="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label class="mb-1"><strong>Confirm Password</strong></label>
                                            <input asp-for=ConfirmPassword type="password" class="form-control" value="ConfirmPassword">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                                        </div>

                                    </form>




                                    <div class="new-account mt-3">
                                        <p>Already have an account? <a class="text-primary" href="~/admin/page-login.html">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/admin/vendor/global/global.min.js"></script>
    <script src="~/admin/js/custom.min.js"></script>
    <script src="~/admin/js/dlabnav-init.js"></script>
    <script src="~/admin/js/styleSwitcher.js"></script>
    <script>


        const imageFileInput = document.getElementById('image-file');
        const photo = document.querySelector('.photo');
        const mainImage = document.querySelector('.image img');
        const imageBtn = document.getElementById('label');

        photo.addEventListener('click', () => {
            imageFileInput.click();
        });

        imageFileInput.addEventListener('change', (event) => {
            const selectedFile = event.target.files[0];

            if (selectedFile) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    mainImage.src = e.target.result;
                };

                if (selectedFile.type.match('image.*')) {
                    reader.readAsDataURL(selectedFile);
                } else {
                    alert("Please select an image file!");
                    imageFileInput.value = "";
                }
            }
        });

        imageBtn.addEventListener('mouseover', () => {
            photo.style.bottom = '0';

        });

        imageBtn.addEventListener('mouseout', () => {
            photo.style.bottom = '-150%';
        });

        document.querySelector('.image').addEventListener('mouseover', () => {
            photo.style.bottom = '0';
        });

        document.querySelector('.image').addEventListener('mouseout', () => {
            photo.style.bottom = '-150%';
        });


    </script>
</body>
</html>