@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Admin Dashboard</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            background-color: #111111;
            font-family: "Roboto Condensed";
            text-transform: uppercase;
            overflow: hidden;
        }

        .police-tape {
            background-color: #e2bb2d;
            background: linear-gradient(180deg, lighten(#e2bb2d, 20%) 0%, #e2bb2d 5%, #e2bb2d 90%, lighten(#e2bb2d, 5%) 95%, darken(#e2bb2d, 50%) 100%);
            padding: 0.125em;
            font-size: 3em;
            text-align: center;
            white-space: nowrap;
        }

        .police-tape--1 {
            transform: rotate(10deg);
            position: absolute;
            top: 40%;
            left: -5%;
            right: -5%;
            z-index: 2;
            margin-top: 0;
        }

        .police-tape--2 {
            transform: rotate(-8deg);
            position: absolute;
            top: 50%;
            left: -5%;
            right: -5%;
        }

        .ghost {
            display: flex;
            justify-content: stretch;
            flex-direction: column;
            height: 100vh;
        }

        .ghost--columns {
            display: flex;
            flex-grow: 1;
            flex-basis: 200px;
            align-content: stretch;
        }

        .ghost--navbar {
            flex: 0 0 60px;
            background: linear-gradient(0deg, #27292d 0px, #27292d 10px, transparent 10px);
            border-bottom: 2px solid #111111;
        }

        .ghost--column {
            flex: 1 0 30%;
            border-width: 0px;
            border-style: solid;
            border-color: #27292d;
            border-left-width: 10px;
            background-color: #1d1f22;
        }

        .ghost--main {
            background-color: #111111;
            border-top: 15px solid #222326;
            flex: 1 0 100px;
        }

        .code {
            display: block;
            width: 100px;
            background-color: #27292d;
            height: 1em;
            margin: 1em;
        }

        .ghost--main .code {
            height: 2em;
            width: 200px;
        }

    </style>
</head>

<body class="vh-100">
    <div class="ghost">

        <div class="ghost--navbar"></div>
        <div class="ghost--columns">
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>

        </div>
        <div class="ghost--main">
            <div class="code"></div>
            <div class="code"></div>

        </div>

    </div>

    <h1 class="police-tape police-tape--1">
        &nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
    </h1>
    <h1 class="police-tape police-tape--2">Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forbidden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>



    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>
    <script src="js/styleSwitcher.js"></script>
</body>
</html>