@model Contact

@section style {
    <link rel="stylesheet" href="~/cilent/assets/css/contact.css">
}


<main>
    <h1>CONTACT US</h1>
    <iframe src="@Model.AddressUrl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    <section class="contact-us">


        <div class="addresses">

            <div class="address">
                <h2>Store in Baku</h2>
                <a>@Model.Address</a>
            </div>

            <div class="contact">
                <a href="mailto:@(Model.Email)">@Model.Email</a>
                <a href="tel:@(Model.Number)">@Model.Number</a>
            </div>

        </div>

        <form method="post">
            <h3>Get In Touch</h3>

            <div class="form-box">
                <input type="text" class="form-input" placeholder="Name *">
            </div>

            <div class="form-box">
                <input type="email" class="form-input" placeholder="Email *">
            </div>


            <div class="form-box">
                <textarea name="texts" placeholder="Your Message..."></textarea>
            </div>

            <button type="submit" class="submit">SUBMIT</button>

        </form>


    </section>


</main>


@section script {
    <script src="~/cilent/assets/js/contact.js"></script>
}